header {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    padding: 10px;
    text-align: center;
    justify-content: center;
    background-color: #333;
    color: white;
    top: 0;
    z-index: 1000;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 8vh;
    position: sticky;
    #welcometext{
        top: 1.25vh;
        position: fixed;
    }
    #logout {
        text-align: center;
        padding: 0px;
        top: 2vh;
        right: 100px;
        position: fixed;
        width: 30px;
        height: auto;
        .btn-teritr채r{
            background-color: #333;
            color: white;
            padding: 12px 28px;
        }
        .btn-teritr채r:hover{
            background-color: #4b4b4b;
            color: white;
        }
    }
    #tohub {
        text-align: center;
        padding: 0px;
        top: 2vh;
        left: 100px;
        position: fixed;
        width: 30px;
        height: auto;
        .btn-teritr채r{
            background-color: #333;
            color: white;
            padding: 12px 28px;
        }
        .btn-teritr채r:hover{
            background-color: #4b4b4b;
            color: white;
        }
    }
}

footer {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: visible;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    text-align: center;
    background-color: #333;
    color: white;
    z-index: 1000;
    margin: 0;
    padding: 0;
    bottom: 0;
    width: 100%;
    height: 4vh;
    position: fixed;
    a{
        color: white;
    }
    a:visited{
        color: white;
    }
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
    background-color: #a1e2f8;
    overflow-y: hidden;
    overflow-x: hidden;
}

#seitenauswahl{
    justify-content: space-around;
    align-items: center;
    height: 87vh;
    table{
        font-size: clamp(17px, 0.7vw, 26px);
        border: 1vh solid black;
        text-align: center;
        font-size: large;
        td{
            padding: 2vh;
            width: 30vh;
            img{
                max-width: 28vh;
                max-height: 40vh;
            }
        }
    }
    
    
}

#togithub{
    display: flex;
    justify-content: center;
    input{
        padding: 12px calc(125vh - 50%);
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid black;
        background-image: url('images/icons/github.png');
        background-position: 25px, 25px;
        background-size: 25px, auto;
        background-repeat: no-repeat;
        padding-left: 40px;
        color: #333;
    }
    input:hover, input:focus{
        background-color: #333;
        color: white;
    }
}  

#seitenauswahl-text{
    font-size: clamp(23px, 0.7vw, 32px);
    text-align: center;
    margin-bottom: 2vh;
}